form {
  /* padding-left: 400px; */
  /* padding-top: 100px; */
  margin-top: 100px;
  margin-left: 400px;
  text-align: center;

  height: auto;
  width: 500px;
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
  padding-bottom: 50px;
  padding-top: 30px;
}
input {
  text-align: center;
  border-radius: 10px;
  padding: 6px;
}
#button1 {
  /* padding-left: 5px; */
  margin-right: 20px;
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
  /* border-radius: 20px; */
}
#button2 {
  margin-left: 20px;
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
}
#button2:hover {
  background-color: black;
  color: wheat;
}
#button1:hover {
  background-color: black;
  color: white;
}
.itemall {
  display: flex;
  padding-left: 100px;
  padding-top: 13px;
  padding-bottom: 12px;
}
a {
  text-decoration: none;
  color: black;
}
